<li>
    {{burger_name}}

    <button class="change-devoured btn btn-outline-primary" style="margin-top: 5px" data-id="{{id}}" data-newdevoured="{{isDevoured}}">
        {{#if isDevoured}}Devoured!{{else}}Time To Eat{{/if}}
    </button>
</li>