<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<title>Eat-A-Burger! Heroku App!</title>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
        <nav class="navbar navbar-dark bg-dark text-xs-center">
            <span class="navbar-brand mb-0 h1">Eat-A-Burger!</span>
        </nav>
		{{{ body }}}
	</body>
</html>
